* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: rgba(125, 180, 218, 0.541);
}

.mainsection {
    width: 20rem;
    height: 26rem;
    background-color: transparent;
    border: 3px solid rgb(138, 95, 95)(173, 120, 120);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 7px 40px black;
    .subsection {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h3 {
            text-align: center;
            font-size: 2rem;
            color: #44423f;
        }
        p {
            text-align: center;
            font-size: 8rem;
            color: rgb(59, 59, 58);
        }
        button {
            padding: 1rem;
            margin: 1rem 0rem;
            border: none;
            border-radius: 20px;
            font-size: 1rem;
            cursor: pointer;
            background-color: slategrey;
            transition: 1s;
            position: relative;
            left: 0.6rem;
            &:hover {
                background-color: springgreen;
            }
        }
    }
}